{% extends 'base.html' %}

{% block title %}
    Сайт об Испании
{% endblock %}

{% block content %}
<p>
    Испания, официально Королевство Испания —
    суверенное государство на юго-западе Европы
    и частично в Африке, член Европейского союза и НАТО.
    Испания занимает большую часть (80%) Пиренейского полуострова,
    а также Канарские и Балеарские острова,
    имеет общую площадь 504 782 км²
    (вместе с небольшими суверенными территориями на
    африканском побережье, городами Сеута и Мелилья),
    являясь четвёртой по величине страной в Европе.
</p>
    Имеет сухопутные границы с:
    <ul>
        <li>
            Португалией на западе Пиренейского полуострова;
        </li>
        <li>
            Британским владением Гибралтар на юге Пиренейского полуострова;
        </li>
        <li>
            Марокко в Северной Африке (полуанклавы Сеута, Мелилья и Пеньон-де-Велес-де-ла-Гомера);
        </li>
        <li>
            Францией и Андоррой на севере.
        </li>
    </ul>
    <p>
    Омывается Атлантическим океаном на севере и западе, а также Средиземным морем на юге и востоке.
    Средняя высота поверхности Испании 650 метров над уровнем моря, является одной из самых гористых стран Европы. Территория разделена на 17 автономных сообществ и 2 автономных города. Столица — Мадрид.
    </p>
{% endblock %}

