{% extends 'base.html' %}

{% block title %}
    Сайт об Испании
{% endblock %}

{% block content %}
<p>
    Испания, официально Королевство Испания —
    суверенное государство на юго-западе Европы
    и частично в Африке, член Европейского союза и НАТО.
    Испания занимает большую часть (80%) Пиренейского полуострова,
    а также Канарские и Балеарские острова,
    имеет общую площадь 504 782 км²
    (вместе с небольшими суверенными территориями на
    африканском побережье, городами Сеута и Мелилья),
    являясь четвёртой по величине страной в Европе.
</p>
{% endblock %}

